@model scholarship_app.Models.listing

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>listing</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GivenBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GivenBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreatedTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Currency)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Currency)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NoAvailable)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NoAvailable)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.student.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.student.Name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
